html,
body {
  margin: 0;
  padding: 0;
}
* {
  font-family: 'Ubuntu', sans-serif !important;
}

/*!############## BUTTON ##############!*/

button {
  background-color: #005BB0;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px 12px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #00A4BA;
}

.selected-button {
  background-color: #00A4BA;
}

:focus {
  outline: 0;
}

.hidden {
  display: none;
}

.new-todo {
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.000);
  font-size : 24px;
  font-weight : 300;
  color : white;
}

.new-todo::placeholder {
  color: rgba(255, 255, 255, 0.596); 
  font-style: italic;  
}

.tasks-priority-headers-container {
  display : flex;
  justify-content: space-between;
}

.tasks-header, .priority-header {
  font-style : italic;
  font-size : 20px;
  font-weight : 300;
}

.tasks-header {
  margin-left : 45px; 
}

.priority-header {
  margin-right : 80px
}

hr {
  background-color : #8B96A2 !important;
  height : 0.9px !important;
  border : none !important
}

/*!############## RC-SLIDER ##############!*/

.slider-length {
  width : 128px;
}

.rc-slider-track {
  transition: width 0.3s ease;
  background-color: rgba(242,242,242,0.10);
  height: 4px; 
}

.rc-slider-rail {
  background-color: rgba(242,242,242,0.55);
  height: 4px; 
}

.rc-slider-handle {
  transition: left 0.3s ease;
  width: 20px; 
  height: 20px; 
  background-color: #ffffff;
  border: none;
  margin-top: -8px; 
  opacity: 1;
}

.rc-slider-handle:focus {
  outline: none;
  box-shadow: none; 
}

.rc-slider-tooltip {
  display: none !important;
}

.rc-slider-handle-dragging {
  box-shadow : none !important;
}


/*!############## SVG X Delete Button ##############!*/

.rect-transition {
  transition: fill 0.3s ease;
}