html,
body {
  margin: 0;
  padding: 0;
}
* {
  font-family: 'Ubuntu', sans-serif !important;
}


button {
  background-color: #005BB0;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px 12px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #00A4BA;
}

input[type="checkbox"] {
  color: green;
}


:focus {
  outline: 0;
}

.hidden {
  display: none;
}


.new-todo {
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.000);
  font-size : 24px;
  font-weight : 300;
  color : white;
}

.new-todo::placeholder {
  color: rgba(255, 255, 255, 0.596); 
  font-style: italic;  
}
